<a href="https://colab.research.google.com/github/Lucas60229/PythonDataScience/blob/main/D11.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
q_df = pd.DataFrame([['male', 'teacher'], 
              ['male', 'engineer'],
              ['female', None],
              ['female', 'engineer']],columns=['Sex','Profession'])

In [ ]:
q_df_fillna = q_df.fillna('others')
q_df_fillna

      Sex Profession
0    male    teacher
1    male   engineer
2  female     others
3  female   engineer

In [ ]:
因為欄位內為『Sex』‘『Profession』此類沒有順序性的資料，使用get_dummies的編碼比較好

   Sex_female  Sex_male
0           0         1
1           0         1
2           1         0
3           1         0