<a href="https://colab.research.google.com/github/Lucas60229/PythonDataScience/blob/main/D15.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd

In [5]:
score_df = pd.DataFrame([[1,50,80,70,'boy',1],[2,60,45,50,'boy',2],[3,98,43,55,'boy',1],[4,70,69,89,'boy',2],[5,56,79,60,'girl',1],[6,60,68,55,'girl',2],[7,45,70,77,'girl',1],[8,55,77,76,'girl',2],[9,25,57,60,'girl',1],[10,88,40,43,'girl',3],[11,25,60,45,'boy',3],[12,80,60,23,'boy',3],[13,20,90,66,'girl',3],[14,50,50,50,'girl',3],[15,89,67,77,'girl',3]],columns=['student_id','math_score','english_score','chinese_score','sex','class'])
score_df

    student_id  math_score  english_score  chinese_score   sex  class
0            1          50             80             70   boy      1
1            2          60             45             50   boy      2
2            3          98             43             55   boy      1
3            4          70             69             89   boy      2
4            5          56             79             60  girl      1
5            6          60             68             55  girl      2
6            7          45             70             77  girl      1
7            8          55             77             76  girl      2
8            9          25             57             60  girl      1
9           10          88             40             43  girl      3
10          11          25             60             45   boy      3
11          12          80             60             23   boy      3
12          13          20             90             66  girl      3
13          14          50             50             50  girl      3
14          15          89             67             77  girl      3

In [11]:
max_df = score_df.max()
print(f'math_max_score: {max_df["math_score"]}, english_max_score: {max_df["english_score"]}, chinese_max_score: {max_df["chinese_score"]}')

math_max_score: 98, english_max_score: 90, chinese_max_score: 89

In [12]:
min_df = score_df.min()
print(f'math_min_score: {min_df["math_score"]}, english_min_score: {min_df["english_score"]}, chinese_min_score: {min_df["chinese_score"]}')

math_min_score: 20, english_min_score: 40, chinese_min_score: 23

In [26]:
math_mean_max_class = score_df.groupby(["class"]).agg("mean")
math_mean_max_class.loc[math_mean_max_class['math_score'].idxmax()]

student_id        5.00
math_score       61.25
english_score    64.75
chinese_score    67.50
Name: 2, dtype: float64

In [30]:
sex_group = score_df.groupby(["sex"]).mean()
sex_group.loc["boy"]["chinese_score"] - sex_group.loc["girl"]["chinese_score"]

-7.333333333333329